doctype html
head
  include includes/header.pug
  link(rel='stylesheet', href='./css/index.css')

body
  include includes/navbar.pug
  .container(style='max-width:980px;')
    #gap.jumbotron.text-center.bg-transparent
      h3.display-3
        | Oogie Boogie Bot  
        i.fas.fa-robot
      p.lead A pretty good discord bot that you should add!
      a(href='/commands')
        button#mainbuts.btn.btn-dark.btn-lg(style='background-color:#000000') View commands
      a(href='/invite')
        button#invite.btn.btn-dark.btn-lg Add to discord


    .container-fluid.padding
      .row.text-center.padding
        #stats.col-xs-12.col-sm-6.col-md-3
          h1 #{servers}
          h5
            i.i.fab.fa-discord
            | Servers
        #stats.ol-xs-12.col-sm-6.col-md-3
          h1 #{channels}
          h5
            i.fab.fa-slack-hash
            | Channels
        #stats.col-xs-12.col-sm-6.col-md-3
          h1 #{members}
          h5
            i.fas.fa-user
            | Members
        #stats.col-xs-12.col-sm-6.col-md-3
          h1 #{commands}
          h5
            i.fas.fa-code
            | Commands

    hr

    .container-fluid.padding
      .row.text-center.padding
        #stats.col-xs-12.col-sm-6.col-md-6
          h1 #{totalMessages} 
          h5
            | Number of Messages Logged 
        #stats.ol-xs-12.col-sm-6.col-md-6
          h1 #{totalVoice} 
          h5
            | Hours of Voice Logged

  .container(style='max-width:720px;')
    #stopgap.jumbotron.bg-transparent
      h2
        | About
      p Oogie Boogie Bot is a multi-functional bot that can take care of moderation and also provide detailed information on your server. Numerous commands include a detailed breakdown of the activity levels of everyone on this server. This bot is also being constantly updated and improved with the latest commands.

  .container(style='max-width:980px;')
    hr

  .container(style='max-width:720px;')
    #stopgap.jumbotron.bg-transparent
      h2
        | Features
      b Activity and voice logging:
      p bot logs every minute of voice and message and can be used to create detailed breakdowns of each members activity and presence per day visually. It can also log all the voice calls happening in the server and their duration.

      //- b voice recording and playback
      //- p bot also has features of recording a person's voice and playing in back. It can also play sound from a sound file or from online. This feature is however still in development.

      b Moderation commands:
      p are a range of moderation commands that do the work for you such as purging a channel or muting someone from a server. These can be customized such as giving a specific role when you mute someone.

      b Informative commands:
      p bot also gives detailed information on a lot of areas such as a specific user or the entire server. 

      b Automative commands:
      p bot also automates commands such as nicknaming all members or automatic roles. The bot could also give automatic roles to all new members.

      b Economy commands:
      p bot also has a global economy across all servers with a range of commands such as work, crime, steal and view the richest people.

      b Fun commands:
      p includes meme command, 8ball and also a range of image commands.

  .container(style='max-width:980px;')
    hr

  .container(style='max-width:720px;')
    #stopgap.jumbotron.bg-transparent
      h2
        | Privacy Policy
      p You can read the bot's privacy policy 
        a(href='/privacypolicy') here

  include includes/footer.pug
